<?xml version="1.0" encoding="utf-8" ?>
<!--conexion de luis... no tocar-->

<!--
<Conexion>
  <datasource>TEFHVUVSUklMTEVSQVxTUUxFWFBSRVNT</datasource>
  nombre de la base de datos
  <initialcatalog>TGFiMw==</initialcatalog>
  <user>cHJhY3RpY2FzbGFi</user>
  <password>MTk5Nw==</password>
</Conexion>
-->


<Conexion>
	<datasource>TEFQVE9QLUY4TEROQ0cwXFNRTEVYUFJFU1M=</datasource>
	nombre de la base de datos
	<initialcatalog>TGFib3JhdG9yaW8z</initialcatalog>
	<user>c29wb3J0ZQ==</user>
	<password>TWF0aGV3czA3MTIq</password>
</Conexion>